<app-word-length df="{{ this.length }}" (onNewWord)="setLength($event)">
</app-word-length>
<h2>Game</h2>
<div id="game">
  <app-word-row
    *ngFor="let g of guesses; let i = index"
    [row]="g"
    [clues]="this.clues[i]"
  >
  </app-word-row>
  <p *ngIf="this.gameState == 1">
    Your word was
    <span>
      {{ this.word }}
    </span>
  </p>
  <p *ngIf="this.gameState == 2">
    You won in {{ this.guesses.length }} guesses!!
  </p>
</div>
<app-keyboard [keyboard]="this.keys" (keyclick)="type($event)"> </app-keyboard>
