<app-word-length (onNewWord)="newGame($event)" df={{this.default}}>
</app-word-length>
<h2>Game <span *ngIf='this.gameState == -1'> Loading... </span></h2>
<div id="game" *ngIf="this.gameState>=0">
  <app-word-row
    *ngFor="let g of guesses; let i = index; let l=last"
    [ngClass]="{
      invalid: l && this.invalid > 0,
      shake1: l && this.invalid == 1,
      shake2: l && this.invalid == 2
    }"
    [row]="g"
    [clues]="this.clues[i]"
  >
  </app-word-row>
  <p *ngIf="this.gameState == 1">
    Your word was
    <span>
      {{ this.word }}
    </span>
  </p>
  <p *ngIf="this.gameState == 2">
    You won in {{ this.guesses.length }} guesses!!
  </p>
</div>
<app-keyboard [keyboard]="this.keys" (keyclick)="type($event)"> </app-keyboard>
