:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height:100%;
  margin: 0 auto;
}
h2 {
  margin:auto;
  width: fit-content;
  font-weight: bolder;
  font-size: x-large;
  color: black;
  font-style: italic;
}
#game {
  border: 3px solid black;
  padding: 2em;
  margin:auto;
  width: fit-content;
  border-radius: 0 2em 2em 2em;
  flex-grow: 1;
  overflow-y:auto;
}

