ul {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  padding:20px;
  box-sizing: border-box;
  border:3px solid black;
  border-radius: 40px;
  font-size:xx-large;
  width:100%;
  max-width:15em;
  margin:15px auto;
}
li {
  display:block;
  width:100%;
  height:fit-content;
  grid-column-end: span 2;
  border: 1px solid black;
  font-family: "Times New Roman", Times, serif;
  &:hover {
    border-color: #888888;
  }
  span{
    position: absolute;
  }
  .after {
    padding-bottom:100%;
    width:100%
  }
}
.bigButton {
  grid-column-end: span 10;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.is_correct {
  background-color: green;
}
.is_wrong {
  background-color: yellow;
}
.is_tried {
  background-color: gray;
}

.line2 {
  grid-column-start: 2;
}
.line3 {
  grid-column-start: 3;
}
