<header>
  <h1>Werdul</h1>
</header>
<app-game> </app-game>
<div class='notice'>
  <h4>Word list provided by the "English Open Word List", derived from "UK Advanced Cryptics Dictionary" Version 1.6</h4>
  <p>
    Copyright © J Ross Beresford 1993-1999. All Rights Reserved. The following restriction is placed on the use of this publication: if the UK Advanced Cryptics Dictionary is used in a software package or redistributed in any form, the copyright notice must be prominently displayed and the text of this document must be included verbatim.
  </p>
</div>
