:host {
  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  display: block;
  margin: 0 2px;
  border: 2px solid black;
  height: 1em;
  width: 1em;
  text-align: center;
  font-variant-caps: all-petite-caps;
}
:host.correct {
  background: green;
}
:host.wrongPlace {
  background: yellow;
}
