/* You can add global styles to this file, and also import other style files */
@import url(./reset.css);
body {
  display: flex;
  flex-direction: column;
  font-family:'Courier New', Courier, monospace
}
* {
  box-sizing: border-box;
}
html, body{
  min-width:100%;
  width:fit-content;
  height:100vh;
  overflow:auto;
}
